/* Fonts */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --color-black: #000000;
  --color-black-extra: rgba(0, 0, 0, 0.3);
  --color-black-extra-border: rgba(0, 0, 0, 0.1);
  --color-white: #ffffff;
  --color-white-extra: rgba(255, 255, 255, 0.3);
  --color-grey: #eeeeee;

  --color-dark-grey: #283136;
  --color-dark-grey-special: #444444;

  --color-grey-extra: #666666;

  --color-grey-social-button: #e1e1e1;

  --color-grey-button-focus: #dfdfdf;
  --color-grey-button-press: #d5d5d5;

  --color-grey-pagination-active-border: #dbdbdb;

  --color-grey-input: #d7dcde;
  --color-grey-input-focus: #b4b9bb;

  --color-red: #fb565a;
  --color-red-extra: #e74246;
  --color-red-special: #d7373b;
  --color-green: #00ca74;
  --color-green-extra: #00bc6c;
  --color-green-special: #00aa62;
  --color-yellow: #efc84a;
  --color-yellow-extra: #eab534;
  --color-yellow-special: #e5a722;

  --color-shadow: rgba(0, 1, 1, 0.25);
}

/* Global */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: 1160px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-dark-grey);
  background-color: var(--color-white);
}
a {
  text-decoration: none;
}
.button {
  display: block;
  padding-top: 17px;
  padding-bottom: 15px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-red);
  border-radius: 3px;
  word-break: break-all;
}
.button:hover {
  background-color: var(--color-red-extra);
}
.button:active {
  color: var(--color-white-extra);
  background-color: var(--color-red-special);
}

/* Grid */
.page {
  height: 100%;
}

/* Container */
.container {
  width: 1160px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* Main header */
.main-header {
  padding-top: 49px;
  padding-bottom: 70px;
  background-color: var(--color-grey);
}

/* Main navigation */
.main-navigation {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}
.main-navigation-wrapper {
  display: flex;
}
.main-logo {
  width: 160px;
}
.main-logo:hover {
  opacity: 0.7;
}
.main-logo:active {
  opacity: 0.3;
}
.main-menu {
  display: flex;
  flex-wrap: wrap;
  width: 437px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0;
  list-style: none;
}
.main-menu__item {
  margin-right: 45px;
}
.main-menu__item:nth-child(4n) {
  margin-right: 0;
}
.main-menu__link {
  color: var(--color-black);
}
.main-menu__link:hover {
  color: var(--color-red);
}
.main-menu__link:active {
  color: var(--color-black);
  opacity: 0.3;
}
.main-menu__link--basket {
  width: 160px;
  margin-top: 25px;
  text-align: end;
}

/* Promo */
.promo {
  padding-bottom: 78px;
  background-color: var(--color-grey);
}
.promo__slide {
  width: 560px;
}
.promo__slide--second,
.promo__slide--third {
  display: none;
}
.promo__title {
  margin: 0;
  padding: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--color-black);
}
.promo__text {
  margin-top: 25px;
  margin-bottom: 40px;
}
.promo__button {
  width: 140px;
  padding-right: 50px;
  padding-left: 50px;
}

/* Services */
.services {
  margin-top: 80px;
  margin-bottom: 80px;
}
.services__list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 20px 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.services__item {
  display: flex;
  flex-direction: column;
}
.services__title {
  margin: 0;
  margin-top: 26px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-black);
}
.services__text {
  padding-bottom: 15px;
}
.services__button {
  width: 81px;
  padding-right: 40px;
  padding-left: 40px;
}
.services__button--green {
  background-color: var(--color-green);
}
.services__button--green:hover {
  background-color: var(--color-green-extra);
}
.services__button--green:active {
  background-color: var(--color-green-special);
}
.services__button--yellow {
  background-color: var(--color-yellow);
}
.services__button--yellow:hover {
  background-color: var(--color-yellow-extra);
}
.services__button--yellow:active {
  background-color: var(--color-yellow-special);
}

/* About-us */
.about-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 140px;
  margin-top: 110px;
  margin-bottom: 75px;
}
.about-us__title {
  margin-bottom: 33px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--color-black);
}
.order {
  padding-top: 25px;
  font-weight: 700;
  text-transform: uppercase;
}
.order__list {
  list-style: none;
}
.order__item {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: -4px;
}

/* Advantages */
.advantages__image {
  margin-top: 10px;
  margin-bottom: 15px;
}
.advantages__title {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}
.advantages__list td {
  padding-top: 12px;
  padding-right: 16px;
}
.advantages__level {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--color-black);
}
.advantages__level-percent {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: var(--color-black);
}
.advantages__description {
  line-height: 18px;
}

/* Partners */
.partners {
  margin-top: 46px;
  margin-bottom: 118px;
}
.partners__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-top: 22px;
  list-style: none;
}

.partners__item:nth-child(1) {
  margin-bottom: -9px;
  margin-left: 32px;
}
.partners__item:nth-child(2) {
  margin-right: 11px;
}
.partners__item:nth-child(4) {
  margin-right: 42px;
  margin-left: 27px;
}
.partners__logo {
  opacity: 0.2;
}
.partners__logo:hover {
  opacity: 1;
}
.partners__logo:active {
  opacity: 0.1;
}

/* Catalog */
.catalog-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 140px;
  margin-top: 55px;
}
.catalog-title {
  margin: 0;
  padding-bottom: 108px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  color: var(--color-black);
  background-color: var(--color-grey);
}

/* Filters */
.filter {
  width: 260px;
}
.filter fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-black);
}
.filter fieldset:nth-child(1) legend {
  margin-bottom: 48px;
}
.filter fieldset:nth-child(2) legend {
  margin-top: 54px;
  margin-bottom: 16px;
}
.filter fieldset:nth-child(3) legend {
  margin-top: 46px;
  margin-bottom: 16px;
}
.filter__price-label {
  line-height: 22px;
  margin-right: 5px;
  text-transform: uppercase;
}
.filter__price {
  width: 80px;
  height: 38px;
  margin-right: 33px;
  padding: 0;
  line-height: 22px;
  text-align: center;
  background-color: var(--color-grey);
  border: 0;
  border-radius: 3px;
}
.filter__price:last-child {
  margin-right: 0;
}
.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.filter__item {
  line-height: 19px;
}
.filter-button {
  width: 260px;
  margin-top: 50px;
  color: var(--color-black);
  background-color: var(--color-grey);
  border: 0;
}
.filter-button:hover {
  background-color: var(--color-grey-button-focus);
}
.filter-button:active {
  color: var(--color-black-extra);
  background-color: var(--color-grey-button-press);
}

/* Catalog-templates */
.sort-settings {
  display: flex;
}
.catalog-templates__sort {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-black);
}
.sort-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sort-list:first-of-type {
  flex-wrap: wrap;
  margin-left: 10px;
}
.sort-list__item {
  margin-right: 26px;
}
.sort-list__item:last-child {
  margin-right: 48px;
}
.sort-list__item__range {
  margin-right: 21px;
}
.sort-list__item__range:last-child {
  margin-right: 0;
}
.sort-list__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-black);
  opacity: 0.3;
}
.sort-list__link:hover {
  opacity: 0.6;
}
.sort-list__link--active,
.sort-list__link:active {
  color: var(--color-black);
  opacity: 1;
}
.templates-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 31px 42px;
  margin: 0;
  margin-top: 48px;
  margin-bottom: 57px;
  padding: 0;
  list-style: none;
}
.templates-list__item {
  position: relative;
  box-sizing: border-box;
  width: 360px;
  height: 580px;
  margin-top: 38px;
  background-color: var(--color-grey);
  border: 1px solid var(--color-black-extra-border);
  border-radius: 0 0 5px 5px;
}
.templates-list__item::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -1px;
  width: 360px;
  height: 40px;
  background-image: url("../img/browser.svg");
  opacity: 0.12;
}
.templates-list__item:hover:before {
  opacity: 1;
}
.templates-list__item:hover .template-info {
  display: block;
}
.templates-list__item:hover{
  box-shadow: 0px 6px 15px var(--color-shadow);
}
.templates-list__image {
  border-radius: 0 0 5px 5px;
}
.template-info {
  display: none;
  position: absolute;
  bottom: 0;
  width: 360px;
  min-height: 231px;
  box-sizing: border-box;
  vertical-align: bottom;
  padding: 26px 52px 44px 52px;
  text-align: center;
  background-color: var(--color-grey);
  border-radius: 0 0 5px 5px;
  z-index: 999;
}
.templates-list__item:first-child .template-info {
  display: block;
}
.templates-list__item:first-child::before {
  opacity: 1;
}
.templates-list__item:first-child{
  box-shadow: 0px 6px 15px var(--color-shadow);
}
.templates-list h3 {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-black);
}
.templates-list h3:hover {
  color: var(--color-red);
}
.templates-list h3:active {
  color: var(--color-black);
  opacity: 0.3;
}
.templates-list p {
  max-height: 379px;
  margin: 0;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-grey-extra);
  overflow: auto;
}
.button-template,
.button-template:hover,
.button-template:active {
  display: inline-block;
  width: 200px;
  min-height: 50px;
  vertical-align: middle;
  color: var(--color-white);
  border: 0;
}

/* Pagination */
.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}
.pagination__item {
  margin-right: 11px;
  margin-bottom: 10px;
}
.pagination__item:last-child {
  width: 260px;
  margin-right: 0px;
}
.pagination__button {
  color: var(--color-black);
  background-color: var(--color-grey);
  padding: 16px 20px 16px 20px;
}
.pagination__button:hover {
  background-color: var(--color-grey-button-focus);
}
.pagination__button:active {
  color: var(--color-black-extra);
  background-color: var(--color-grey-button-press);
}
.pagination__link--active {
  background-color: var(--color-white);
  box-shadow: inset 0 0 0 3px var(--color-grey-pagination-active-border);
}

/* Footer */
.main-footer{
  position: relative;
}

/* Map */
.map {
  text-align: center;
}
.map__image {
  width: 100%;
}

/* Contacts */
.contacts{
  position: absolute;
  top: 0;
  margin-top: 52px;
  padding: 50px;
  background-color: var(--color-white);
}
.contacts__title {
  margin: 0;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-black);
}
.contacts__address {
  line-height: 18px;
  color: var(--color-grey-extra);
}
.contacts__phone {
  color: var(--color-grey-extra);
}
.contacts__button {
  width: 131px;
  margin-top: 33px;
  padding-right: 44px;
  padding-left: 44px;
}

/* Social buttons */
.social-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 60px;
  margin-bottom: 68px;
}
.social-button {
  width: 400px;
}
.social-button__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-button li {
  margin-right: 9px;
  margin-bottom: 10px;
}
.social-button li:nth-child(4n) {
  margin-right: 0;
}
.social-button__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 81px;
  padding: 0;
  background-color: var(--color-grey-social-button);
  border-radius: 50%;
}
.social-button__item:active svg {
  opacity: 0.3;
}

/* Discount info */
.discount-info__slogan {
  margin: 0;
  margin-top: 7px;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-black);
}
.discount-info__text {
  margin-top: 10px;
  padding: 0;
  line-height: 22px;
  color: var(--color-dark-grey-special);
}
