/* Fonts */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --color-black: #000000;
  --color-black-extra: rgba(0, 0, 0, 0.3);
  --color-white: #ffffff;
  --color-white-extra: rgba(255, 255, 255, 0.3);
  --color-grey: #eeeeee;

  --color-dark-grey: #283136;
  --color-dark-grey-special: #444444;

  --color-grey-extra: #666666;

  --color-grey-social-button: #e1e1e1;

  --color-grey-button-focus: #dfdfdf;
  --color-grey-button-press: #d5d5d5;

  --color-grey-panagination-active-border: #dbdbdb;

  --color-grey-input: #d7dcde;
  --color-grey-input-focus: #b4b9bb;

  --color-red: #fb565a;
  --color-red-extra: #e74246;
  --color-red-special: #d7373b;
  --color-green: #00ca74;
  --color-green-extra: #00bc6c;
  --color-green-special: #00aa62;
  --color-yellow: #efc84a;
  --color-yellow-extra: #eab534;
  --color-yellow-special: #e5a722;
}

/* Global */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-dark-grey);
  background-color: var(--color-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
a {
  text-decoration: none;
}
.button {
  display: block;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-red);
  border-radius: 3px;
  padding-top: 17px;
  padding-bottom: 15px;
  word-break:break-all;
}
.button:hover {
  background-color: var(--color-red-extra);
}
.button:active {
  background-color: var(--color-red-special);
  color: var(--color-white-extra);
}

/* Grid */
.page {
  height: 100%;
}

/* Container */
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

/* Main header */
.main-header {
  padding-top: 49px;
  padding-bottom: 70px;
}
.header-background {
  background-color: var(--color-grey);
}

/* Main navigation */
.main-navigation-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main-logo {
  width: 160px;
}
.main-logo:active {
  opacity: 0.3;
}
.main-navigation {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 437px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.main-menu__item {
  margin-right: 45px;
}
.main-menu__item:last-child {
  margin-right: 0;
}
.main-menu__link {
  color: var(--color-black);
}
.main-menu__link:hover {
  color: var(--color-red);
}
.main-menu__link:active {
  color: var(--color-black);
  opacity: 0.3;
}
.basket {
  width: 160px;
  text-align: end;
}

/* Promo */
.promo {
  padding-bottom: 80px;
}
.promo-background {
  background-color: var(--color-grey);
}
.promo__slide{
  width: 560px;
}
.promo__slide--second,
.promo__slide--third {
  display: none;
}
.promo__title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--color-black);
  margin: 0;
  padding: 0;
}
.promo__text {
    margin-top: 25px;
    margin-bottom: 40px;
}
.promo__button {
  padding-right: 50px;
  padding-left: 50px;
  width: 140px;
}

/* Services */
.services {
  margin-top: 80px;
  margin-bottom: 80px;
}
.services__list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.services__item{
  display: flex;
flex-direction: column;
}
.services__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-black);
  margin-top: 26px;
  margin-bottom: 0px;
}
.services__text {
  padding-bottom: 15px;
}
.services__button {
  padding-right: 40px;
  padding-left: 40px;
  width: 81px;
}
.services__button--green {
  background-color: var(--color-green);
}
.services__button--green:hover {
  background-color: var(--color-green-extra);
}
.services__button--green:active {
  background-color: var(--color-green-special);
}
.services__button--yellow {
  background-color: var(--color-yellow);
}
.services__button--yellow:hover {
  background-color: var(--color-yellow-extra);
}
.services__button--yellow:active {
  background-color: var(--color-yellow-special);
}

/* About-us */
.about-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 140px;
  margin-top: 122px;
  margin-bottom: 75px;
}
.about-us__title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--color-black);
  margin-bottom: 33px;
}
.order {
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 25px;
}
.order__list {
  list-style: none;
}
.order__item {
  margin-bottom: 24px;
  margin-top: 24px;
}

/* Advantages */
.advantages__image {
  margin-top: 10px;
  margin-bottom: 15px;
}
.advantages__title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-black);
  text-align: center;
}
.advantages__list td {
  padding-top: 12px;
  padding-right: 16px;
}
.advantages__level {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--color-black);
}
.advantages__level-percent {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: var(--color-black);
}
.advantages__description {
  line-height: 18px;
}

/* Partners */
.partners {
  margin-top: 46px;
  margin-bottom: 118px;
}
.partners__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 22px;
}
.partners__link{
  margin-right: 33px;
}
.partners__link:nth-child(3){
  margin-right: 66px;
}
.partners__link:last-child{
  margin-right: 5px;
}
.partners__logo {
  opacity: 0.2;
}
.partners__logo:hover {
  opacity: 1;
}
.partners__logo:active {
  opacity: 0.1;
}

/* Catalog */
.catalog-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 140px;
  margin-top: 55px;
  margin-bottom: 60px;
}
.catalog-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--color-black);
  text-align: center;
  background-color: var(--color-grey);
  margin: 0;
  padding-bottom: 108px;
}

/* Filters */
.filter {
  width: 260px;
}
.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-black);
}
.filter__price-label {
  line-height: 22px;
  text-transform: uppercase;
}
.filter__price {
  line-height: 22px;
  text-align: center;
  background-color: var(--color-grey);
  border-radius: 3px;
  border: 0;
}
.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter__item {
  line-height: 19px;
}
.filter-button {
  border: 0;
  color: var(--color-black);
  background-color: var(--color-grey);
}
.filter-button:hover {
  background-color: var(--color-grey-button-focus);
}
.filter-button:active {
  background-color: var(--color-grey-button-press);
  color: var(--color-black-extra);
}

/* Catalog-templates */
.catalog-templates__sort {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-black);
  margin: 0;
  padding: 0;
}
.sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sort-list a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-black);
  opacity: 0.3;
}
.sort-list a:hover {
  opacity: 0.6;
}
.sort-list .sort-list__link--active,
.sort-list a:active {
  opacity: 1;
  color: var(--color-black);
}
.templates-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.templates-list h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-black);
}
.templates-list h3:hover {
  color: var(--color-red);
}
.templates-list h3:active {
  color: var(--color-black);
  opacity: 0.3;
}
.templates-list p {
  font-size: 16px;
  line-height: 18px;
  color: var(--color-grey-extra);
}
.button-template,
.button-template:hover,
.button-template:active {
  color: var(--color-white);
  border: 0;
}
.panagination__item--active {
  background-color: var(--color-white);
  border: 3px solid var(--color-grey-panagination-active-border);
}
.panagination__button {
  color: var(--color-black);
  background-color: var(--color-grey);
}
.panagination__button:hover {
  background-color: var(--color-grey-button-focus);
}
.panagination__button:active {
  background-color: var(--color-grey-button-press);
  color: var(--color-black-extra);
}
/* Footer */
/* Map */
.map {
  text-align: center;
}
.map__image {
  width: 100%;
}
/* Contacts */
.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-black);
}
.contacts__address {
  line-height: 18px;
  color: var(--color-grey-extra);
}
.contacts__phone {
  color: var(--color-grey-extra);
}
.contacts__button{
  padding-right: 44px;
  padding-left: 44px;
  width: 131px;
}

/* Social buttons */
.social-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 68px;
  margin-bottom: 68px;
}
.social-button {
  width: 400px;
}
.social-button__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-button li{
  margin-right: 9px;
}
.social-button li:last-child {
  margin-right: 0;
}
.social-button__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-grey-social-button);
  width: 81px;
  height: 81px;
  border-radius: 50%;
  padding: 0;
}

.social-button__item:active svg {
  opacity: 0.3;
}


/* Discount info */
.discount-info__slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-black);
  margin: 0;
  padding: 0;
}
.discount-info__text {
  line-height: 22px;
  color: var(--color-dark-grey-special);
  margin-top: 10px;
  padding: 0;
}
